.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC0r67VgYE0FxEGLVbjkc1wkvyNkgYlEgbvA&usqp=CAU');
    background-size: cover;
  }
  
  .contact-container {
    width: 80%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  
  
  @media (max-width: 576px) {
    .contact-container {
      width: 90%;
      padding: 1rem;
    }
  }
  